
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Caveat&family=Great+Vibes&family=Ms+Madi&family=Smooch&display=swap');

*{
    border: 0;
    box-sizing: border-box;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

/* roots */
:root{
    --cor-principal: #020024;
    --cor-segunda: #230979;
    --cor-terceira: #444488;
    --cor-quarta: #db162f;
    --cor-quinta: #e1e4e7;
}

/* pagina inicial */

body{
    background: linear-gradient(45deg, #020024, #230979);
    font-family: 'Poppins';
}

header{
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    right: 0;
    top: 0;
    z-index: 1000;
    align-items: center;
    padding: 15px 100px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

header .logo{
    font-size: 27px;
    text-decoration: none;
    color: aliceblue;
    font-weight: 200;
}

.front{
    font-size: 30px;
    color: var(--cor-quarta);
    font-family: 'Caveat';
    padding: 4px;
    text-decoration: none;
}

header .navbar{
    list-style-type: none;
    display: flex;
}

header .navbar a{
    text-decoration: none;
    color: aliceblue;
    font-size: 18px;
    padding: 10px 20px;
    cursor: pointer;
}

header .navbar a:hover{
    border-bottom: 1px solid var(--cor-quarta);
    transform: translate(0);
    transition: all 0.5s;
}

#menu-icon{
    font-size: 2.4rem;
    cursor: pointer;
    display: none;
}

/* *********************************** */
/* conteudo */
section{
    padding: 70px 17%;
}

.home{
    width: 100%;
    min-height: 95vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 28rem;
    align-items: center;
    margin-top: 40px;
}



/* imagem */
.home-img{
    margin-bottom: 100px;
    margin-left: 20px;
}

img{
    max-width: 100%;
    align-content: right;
    border-radius: 50%;
    border: 2px solid var(--cor-segunda);
}

img:hover{
    border: 1px solid var(--cor-quarta);
}



/* texto */
.text{
    position: absolute;
    width: 475px;
    height: 72px;
}

span{
    color: var(--cor-quarta);
}

p{
    color: aliceblue;
    font-size: 15px;
    font-weight: 100;
}

p{
    text-align: center;
}



/* redes sociais */
section{
   padding-top: 180px;
    display: flex;
    position: relative;
    margin-left: 88px;

}

.btnLink{
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    color: aliceblue;
}

.btnLink i{
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 25px;
    cursor: pointer;
}

i:hover{
    transform: scale(1.1) translateX(10px);
    transition: 1s;
}