@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Caveat&family=Great+Vibes&family=Ms+Madi&family=Smooch&display=swap');

*{
    border: 0;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* roots */
:root{
    --cor-principal: #020024;
    --cor-segunda: #230979;
    --cor-terceira: #444488;
    --cor-quarta: #db162f;
    --cor-quinta: #e1e4e7;
}

/* pagina 2 - curriculo */

body{
    background: linear-gradient(45deg, #230979, #020024);
    font-family: 'Poppins';
    color: aliceblue;
}

header{
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
    right: 0;
    top: 0;
    z-index: 1000;
    align-items: center;
    padding: 15px 100px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

header .logo{
    font-size: 27px;
    text-decoration: none;
    color: aliceblue;
    font-weight: 200;
}

.front{
    font-size: 30px;
    color: var(--cor-quarta);
    font-family: 'Caveat';
    padding: 4px;
    text-decoration: none;
}

header .navbar{
    list-style-type: none;
    display: flex;
}

header .navbar a{
    text-decoration: none;
    color: aliceblue;
    font-size: 18px;
    padding: 10px 20px;
    cursor: pointer;
}

header .navbar a:hover{
    border-bottom: 2px solid var(--cor-quarta);
}



/* home - curriculo */
.home-curriculo{
    padding: 70px 17%;
    width: 100%;
    min-height: 95vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20rem;
    align-items: center;
}

.download{
    font-size: 13px;
    font-weight: 100;
    color: #c7ccd0;
}

.main{
    margin-top: 30%;
    text-align: left;
}

.main2{
    margin-top: 0.1rem;
    text-align: left;
}

h1 a{
    margin-top: 12px;
    font-size: 32px;
    text-decoration: none;
    list-style-type: none;
    color: var(--cor-quinta);
}

h2{
    font-size: 28px;
    border-bottom:  2px solid #db162f;
    width: 33%;
    color: aliceblue;
}

h3{
    color: #c7ccd0;
    font-size: 22px;
}

.line{
    font-size: 28px;
    border-bottom:  2px solid #020024;
    width: 52%;
}

.ano{
    color: var(--cor-quarta);
}

p{
    margin: 1px;
    padding: 4px;
}

.container{
    padding: 22px;
    left: 0;
    text-align: left;
}

.logo{
    text-decoration: none;
    list-style-type: none;
    color: aliceblue;
    font-weight: 200;
    font-size: 18px;
}

span{
    padding: 0;
}

.home-img img{
    width: 50px;
}