@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Caveat&family=Great+Vibes&family=Ms+Madi&family=Smooch&display=swap');

* {
    border: 0;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* roots */
:root {
    --cor-principal: #020024;
    --cor-segunda: #230979;
    --cor-terceira: #444488;
    --cor-quarta: #db162f;
    --cor-quinta: #e1e4e7;
}


body {
    background: var(--cor-quinta);
    font-family: 'Poppins';
    color: aliceblue;
}

header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    right: 0;
    top: 0;
    z-index: 1000;
    align-items: center;
    padding: 15px 100px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    background: linear-gradient(45deg, #020024, #230979);
}

header .logo {
    font-size: 27px;
    text-decoration: none;
    color: aliceblue;
    font-weight: 200;
}

.front {
    font-size: 30px;
    color: var(--cor-quarta);
    font-family: 'Caveat';
    padding: 4px;

    text-decoration: none;
}

header .navbar {
    list-style-type: none;
    display: flex;
}

header .navbar a {
    text-decoration: none;
    color: aliceblue;
    font-size: 22px;
    padding: 10px 20px;
    cursor: pointer;
}

header .navbar a:hover {
    border-bottom: 2px solid var(--cor-quarta);
}

/* conteudo - contato */
.home-contato {
    display: flex;
    margin-top: 8%;
    align-items: center;
    justify-content: space-evenly;
    height: 700px;
}

.main-container {
    margin: 20px;
    width: 20%;
    height: auto;
    padding: 20px;
}

.main-container h1 {
    font-size: 45px;
    color: #020024;
}

.main-container p {
    font-size: 22px;
    margin-top: 6px;
}

.main-container h3 {
    margin-top: 28px;
}

.main-container h3.fone {
    border-bottom: 2px solid #db162f;
    width: 24%;
    margin-top: 28px;
    color: #444488;
}

.main-container h3.mail {
    border-bottom: 2px solid #db162f;
    width: 18%;
    color: #444488;
}



/* formulario - enviar */
.contact-form {
    background: linear-gradient(45deg, #020024, #230979);
    /* width: 450px; */
    max-width: 100%;
    border-radius: 14px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    justify-content: space-evenly;
    align-items: center;

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;

    width: 100%;
    height: 580px;
    border-radius: 10px;

    margin: 30px;
    padding: 34px;
}

label {
    font-size: 16px;
}

.input-container {
    font-size: 18px;
    padding: 2px;
}

input {
    width: 100%;
    height: 34px;
    margin-top: 10px;
    border-radius: 5px;
    padding: 14px;
}

.btn {
    max-width: 100%;
    cursor: pointer;
    border-radius: 5px;
    background-color: #db162f;
    font-weight: bold;
    color: aliceblue;
}

.btn:hover {
    border: 1px solid #e1e4e7;
    font-weight: bold;
}